body{
    font-family: 'Montserrat-Black', sans-serif;
}

#title{
    background-color: #ff4c68;
    color: #fff;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3rem;
    line-height: 1.6; 
}

.container-fluid{
    padding: 3% 15% 7%;
}
/* Navigation Bar */

.navbar{padding: 0 0 4.5rem;

}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
   font-weight: 300;
}

/* download button */
.download-button{
    margin: 5% 3% 5% 0;
}
/* title image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}
@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}

/* features section */
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.feature-box{
    top: 200px;
}

.feature-icons{
    color: #ef8172;
    font-size: 4rem;
    margin-bottom: 1rem;
    
}

.feature-icons:hover{
    color: #ff4c68;
}


}
.feature-details{
    color: #8f8f8f;
    padding: 5%;
}

.feature-head{
    text-align: center;
    padding: 5%;
}

/* testimonials */
#testimonials{
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
    }

.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
}
/* press section */
#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}
.press-logos{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing */
#pricing{
    padding: 100px;
    text-align: center;
}
.card-content{
    padding: 2% 3%;
}

/* Action */
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 5% 15% 5%;
    
}
.action-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #fff;
    font-size: 3.5rem;
}

/* Footer */
#footer{
    text-align: center;
    padding: 10% 5% 3%;
    
}
.footer-icons{
    
    margin: 2px 10px 2px;
}
.copyright{
    color: #8f8f8f;
}
.links{
    text-decoration: normal;
    color: black;
}
